.colors {
    color: #F0F0F2 #3B5E8C #5B7BA6 #82B0D9 #0D0C09;
}

body {
    background-color: #F0F0F2;
}

p {
    color: #0D0C09;
}

.card-active {
    background-color: #82B0D9;
}

.rounded-circle {
    border: solid #0D0C09 1px;
}

.timeline {
    border-left: dotted #3B5E8C 5pt;
}

.timeline-stop {
    border-top: dotted #0D0C09 5pt;
    margin-top: 20pt;
    margin-bottom: 0;
    padding-bottom: 0;
}